# Common
.idea
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Yarn
.yarnclean

# Dependency directory
node_modules

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
